name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Generate the Snake
        uses: Platane/snk@v3
        with:
          github_user_name: "Lucid-Lifo"
          svg_out_path: "dist/snake.svg"  

      - name: Push snake to the output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist                 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
