name: Generate Snake Animation

permissions:
  contents: write

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate the Snake
        uses: Platane/snk@v3
        with:
          github_user_name: "Lucid-Lifo"
          outputs: |
            dist/snake-neon.svg?palette=github-dark&color_snake=%2355447B&color_dots=%23A9A9A9

      - name: Deploy to GitHub Pages (output branch)
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
